@model Portal.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol style="list-style :none;">
            <li>
                @Html.LabelFor(m => m.OldPassword,new { @class= "label"})
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword,new { @class= "label"})
                @Html.PasswordFor(m => m.NewPassword,new { @class= "textbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword,new { @class= "label"})
                @Html.PasswordFor(m => m.ConfirmPassword,new { @class= "textbox" })
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
