@model IEnumerable<Portal.ViewModels.TransferCardViewModel>
@{
    ViewBag.Title = "Transfer Balances";
}

<h2>OneWallet Balances</h2>

<table class="table1" id="card-table">
    <thead>
        <tr>
            <th>Card Id</th>
            <th>Date Issued</th>
            <th>Public Key</th>
            <th>Status</th>
            <th>Balance (BTC)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{

    <tr>
        <td>@item.CardId</td>
        <td>@item.FormattedDateIssued</td> 
        <td>@item.PublicKey</td>
        <td>@item.Status</td>
        <td><a href='@String.Format("https://blockchain.info/address/{0}", item.PublicKey)' target="_blank">Balance</a></td>
        <td>@Html.ActionLink("Transfer", "TransferBalance", new { cardId = item.CardId }) </td>
        <td>@Html.ActionLink("Top up", "BuyBitcoin", "BuyBitcoin", new { cardId = item.CardId }) </td>
    </tr>

}
        @if (Model.Count() <= 0)
        {
            <tr>
                <td colspan="6">There are no activated cards registered to your customer account</td>
            </tr>
        }
    </tbody>
</table>

<br />