@model Portal.ViewModels.BuyBitcoinViewModel
@{
    ViewBag.Title = "Confirm Bitcoin Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm Bitcoin Purchase</h2>

<h3>Please confirm the following purchase details:</h3>
<fieldset>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.BitcoinAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BitcoinAmount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>

     <div class="display-label">
        @Html.DisplayNameFor(model => model.CreditCardMask)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditCardMask)
    </div>

 
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Confirm" /> |
        @Html.ActionLink("Cancel", "BuyBitcoin")
    </p>
}
