@model  Portal.Models.ForgotModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot password</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="view">
        <ol style="list-style :none;">
            <li>
                @Html.LabelFor(m => m.Email,new { @class= "label" }) 
                @Html.TextBoxFor(m => m.Email,new { @class= "textbox" })
            </li>
         </ol>
        <div class="row">
            <div class="col gu24"
                 style="height:100px">
                &nbsp;
            </div>
        </div>
        <div class="row"
             style="height:150px; vertical-align:bottom;">

            <div class="col gu8">
                @Html.ActionLink("Cancel", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "cancelbutton" })
            </div>
            <div class="col gu8" style="float:right;"></div>

            <div class="col gu8" style="float:right;">
                <div class="col gu8" style="float:right;">
                    <input type="submit" value="Submit" class="loginbutton" />
                </div>
            </div>
        </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
